/* Solving https://github.com/jonkemp/inline-css/issues/8 would make things nicer. */

/*
 * =====================================
 * 1. Common styles for general table things.
 * =====================================
 */
img {
  max-width: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

tr{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
}

img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.main{
  /* @todo gulp-inline-css can't use width in percentages */
  /* This style property fucks up the width on OS X, needs to be *JUST* attribute ->
     width:100%; */
  /* @todo gulp-inline-css doesn't parse background-color -> bgcolor */
  background-color: #ffffff;
}

.rbcc{
  /*
   * rbcc -> reset - border - cellspacing - cellpading
   *
   * Resets table attributes.
   */
  border:0;
  cellpadding:0;
  cellspacing:0;
}

.sp{
  /* Separator tr */
  /* @todo gulp-inline-css doesn't add height attrs */
  height: 30px;
}

.gray-hr{
  border-bottom:1px solid #E4E4E4;
  border-top:none;
  margin-bottom:20px;
  margin-top:20px;
}

a{
  text-decoration: underline;
  color: #0fade1;
}

/*
 * =================
 * 2. Content styles.
 * ==================
 */
.main__welcome{
  color: #000;
  padding: 10px 30px 0 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.main__content{
  color: #000;
  padding: 10px 30px 0 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}


/*
 * ================
 * 3. Footer styles.
 * ================
 */
.footer{
  /* @todo gulp-inline-css doesn't parse background-color -> bgcolor */
  background-color: #f5f5f5;
  padding: 20px 30px 0px 30px;
  color: #313131;
  border-top: 8px solid #E91E63;
}

.footer a{
  color: #313131;
}

.footer--simple{
  padding-bottom: 20px;
  /* @todo gulp-inline-css doesn't parse background-color -> bgcolor */
  background-color: #FFFFFF;
}

.footer__main{
  /* @todo gulp-inline-css can't use width in percentages */
  /* This style property fucks up the width on OS X, needs to be *JUST* attribute ->
     width:100%; */
}

.footer__main__signature{
  font-size: 14px;
  color: #313131;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}

.footer__main__col1{
  /* @todo gulp-inline-css can't use width in percentages */
  width:70%;
  margin-bottom:30px;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}

.footer__main__col1__td{
  font-size: 14px;
  color: #313131;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}

.footer__main__col1__social__img{
  border: 0;
  padding-top: 5px;
  padding-right:5px;
  max-width: 30px;
  max-height:30px;
  height: auto;
}

.footer__main a > span{
  /* Revert apple blue-link style. */
  color: #313131!important;
  text-decoration:underline;
}

.footer__main__col2{
  /* @todo gulp-inline-css can't use width in percentages */
  width:30%;
  /* @todo gulp-inline-css doesn't parse align */
  align:right;
}

.footer__main__col2__td{
  font-size: 14px;
  color: #313131;
  /* @todo gulp-inline-css doesn't parse align */
  align:right;
}

.footer__main__col2__td__img{
  border: 0;
  padding-top: 6px;
  padding-left:10px;
  max-width: 100%;
  max-height:60px;
  height: auto;
}
